<%= form_with(model: message, data: { controller: 'message' }) do |form| %>
  <%= hidden_field_tag :pos, pos %>
  <%= form.text_area :content %>
  <p>
    ctrl para <%= link_to("cancelar", message_path(message, pos: pos), class: 'link-primarys') %>
    ° enter para <%= form.submit "salvar", class: "link-primary bg-transparent" %>
  </p>
<% end %>
