<div id="<%= dom_id chatroom %>" class="h-100 d-flex flex-column justify-content-between chatroom">
  <%= turbo_stream_from "chatroom_#{chatroom.id}_message_groups" %>
  <%= turbo_frame_tag "message_groups", class: "h-100 chatroom__message_groups" do %>
    <%= chatroom_main(users) %>
    <% message_groups.each do |message_group| %>
      <%= render message_group, user: message_group.user_chatroom.user, message_group: message_group %>
    <% end %>
  <% end %>

  <%= form_with(model: Message.new, data: { controller: "chatroom" }) do |form| %>
    <%= form.hidden_field :chatroom_id, value: chatroom.id %>
    <div id='attachments-previews-container' class='attachment__previews_container d-none'></div>
    <div class='d-flex w-100 align-items-center'>
      <%= form.label :attachments, class: 'attachment__previews_input' do %>
        <i class="bi bi-plus-circle"></i>
      <% end %>
      <%= form.file_field :attachments, multiple: true, class: 'd-none', data: { controller: 'attachment-preview', action: 'change->attachment-preview#preview' } %>
     
      <%= form.text_area :content, class: "form-control", placeholder: "Conversar em #{users.map(&:name).join(", ")}", rows: 1 %>
    </div>
  <% end %>
</div>
