<div id="<%= dom_id message_group %>" class="d-flex">
  <%= user_avatar(user) %>
  <div class='ms-2'>
    <p class='m-0' style='font-size:16px;' >
      <%= user.name %>
      <span class='text-secondary' style='font-size:14px;' ><%= message_group.created_at.strftime("%d/%M/%Y") %></span>
    </p>
    <% message_group.messages.each do |message| %>
      <%= render message %>
    <% end %>
  </div>
</div>
