<%= button_to chatroom_path(key), method: :get, id: "chatroom_url_#{key}", class: 'd-flex align-items-center justify-content-between border-0 w-100 nav-link chatroom__link', form: { class: 'friendships_form' } do %>
  <div class="d-flex align-items-center">
    <%= sidebar_user_avatars(values) %>
    <div class='ms-2' style="text-align: left; line-height: 18px;">
      <%= sidebar_user_names(values) %>
      <%= members_count(values) %>
    </div>
  </div>
  <%= tag.i class: "bi bi-x chatroom__remove_icon", data: { id: key } %>
<% end %>
