<nav class="nav nav-pills" data-controller='sidebar'>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white vh-100 sidebar" style="width: 280px;">
    <hr>
    <%= button_to header_friendships_path, method: :get, class: 'd-flex align-items-center border-0 w-100 nav-link active', form: { class: 'friendships_form' } do %>
      <div class="d-flex justify-content-between">
        <div>
          <i class="bi bi-person-check"></i>
          <span> Amigos </span>
        </div>
        <%= turbo_stream_from @current_user, "total_friendship_requests_received" %>
        <%= render "shared/counter_badge", total: total_friendship_requests_received %>
      </div>
    <% end %>
    <div class="dropdown d-flex justify-content-between align-items-center">
      <span style="font-size: 14px;">MENSAGENS DIRETAS </span>
      <a href="#" data-bs-toggle="dropdown" style="font-size: 26px; text-decoration: none;" id="direct-messages-trigger">
        + 
      </a>
      <%= render "shared/direct_messages", users: @users %>
    </div>
    
    <%= turbo_stream_from "user_#{@current_user.id}_chatrooms" %>
    <%= turbo_frame_tag "chatrooms" do %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% chatroom_groups.each do |key, values| %>
        <%= render "shared/chatroom", key: key, values: values %>
      <% end %>
    <% end %>
    <ul class="nav nav-pills flex-column mb-auto text-center"></ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="position-relative me-2">
          <% if @current_user.avatar.attached? %>
            <%= image_tag @current_user.avatar, width: 32, height: 32, class: "rounded-circle" %>
          <% else %>
            <i class="bi bi-person-check" style='font-size: 28px;'></i>
          <% end %>
          <%= tag.div(id: "current_user_status", class: "status status__#{User.statuses[@current_user.status]}") %>
        </div>
        <strong><%= @current_user.name %></strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        
        <li>
          <%= button_to "Disponível", "/users/#{@current_user.id}/set_status?status=#{CGI::escapeHTML("disponivel")}", method: :patch, remote: true, data: { turbo: false }, class: "dropdown-item", style: 'color: green' %>
        </li>
        <li>
          <%= button_to "Ausente", "/users/#{@current_user.id}/set_status?status=#{CGI::escapeHTML("ausente")}", method: :patch, remote: true, data: { turbo: false }, class: "dropdown-item", style: 'color: red' %>
        </li>
        <li>
          <%= button_to "Não perturbar", "/users/#{@current_user.id}/set_status?status=#{CGI::escapeHTML("nao perturbar")}", method: :patch, remote: true, data: { turbo: false }, class: "dropdown-item", style: 'color: orange' %>
        </li>
        <li>
          <%= button_to "Offline", "/users/#{@current_user.id}/set_status?status=#{CGI::escapeHTML("offline")}", method: :patch, remote: true, data: { turbo: false }, class: "dropdown-item", style: 'color: gray' %>
        </li>
        <hr>
        <li>
          <%= button_to "Sair", '/sessions/signout', method: :delete, class: "dropdown-item" %>
        </li>
      </ul>
    </div>
  </div>
</nav>