<div class="d-flex flex-column flex-shrink-0 p-3 text-white vh-100 sidebar" style="width: 280px;">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
    <span class="fs-4">Sidebar</span>
  </a>
  <hr>
  <%= link_to header_friendships_path, class: "", data: { turbo_frame: "header_frame" } do %>
    <div class="d-flex justify-content-between">
      <div>
        <i class="bi bi-person-check"></i>
        <span> Amigos </span>
      </div>
      <%= turbo_stream_from @current_user, "total_friendship_requests_received" %>
      <%= render "shared/counter_badge", total: total_friendship_requests_received %>
    </div>
    <div class="dropdown d-flex justify-content-between align-items-center">
      <span style="font-size: 14px;">MENSAGENS DIRETAS </span>
      <a href="#" data-bs-toggle="dropdown" style="font-size: 26px; text-decoration: none;" id="direct-messages-trigger">
        + 
      </a>
      <%= render "shared/direct_messages", users: @users %>
    </div>
  <% end %>
  
  <%= turbo_stream_from "user_#{@current_user.id}_chatrooms" %>
  <%= turbo_frame_tag "chatrooms" do %>
    <% chatroom_groups.each do |key, values| %>
      <%= button_to chatroom_path(key), method: :get, class: 'd-flex align-items-center bg-transparent border-0', form: { data: { controller: "chatroom", action: "turbo:before-fetch-request->chatroom#add_turbo_header" } } do %>
          <%= stack_users_avatar(values) %>
        <div class='ms-2' style="text-align: left;">
          <%= stack_users_name(values) %>
          <%= members_count(values) %>
        </div>
      <% end %>
    <% end %>
  <% end %>
  <ul class="nav nav-pills flex-column mb-auto text-center"></ul>
  <hr>
  <div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
      <% if @current_user.avatar.attached? %>
        <%= image_tag @current_user.avatar, width: 32, height: 32, class: "rounded-circle me-2" %>
      <% else %>
        <i class="bi bi-person-check" style='font-size: 28px;'></i>
      <% end %>
      <strong><%= @current_user.name %></strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
      <li>
        <%= button_to "Sair", '/sessions/signout', method: :delete, class: "dropdown-item" %>
      </li>
    </ul>
  </div>
</div>