<h2> Acesse sua conta </h2>
<%= form_for :session, url: sessions_signin_index_path do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>

<%= link_to "Cadastre-se", new_sessions_signup_path %>
