<%= turbo_frame_tag "main" do %>
  <p style="color: green"><%= notice %></p>
  <%= turbo_frame_tag "flash_message" %>

  <%= render "available_friendships/total_available_friendships", friendship_users: friendship_users %>

  <%= turbo_stream_from @current_user, "friendship_users" %>
  <%= turbo_frame_tag "friendship_users_container" do %>
    <% friendship_users.each do |friendship_user| %>
      <%= render "friendships/friendship_user", friendship_user: friendship_user %>
    <% end %>
  <% end %>
<% end %>

